<div class="flex flex-col gap-3 w-[clamp(300px,_80vw,_800px)] justify-self-center">
  <h2 class="text-2xl uppercase">Log in</h2>

  <%= form_for(
    resource, 
    as: resource_name, 
    url: session_path(resource_name), 
    html: { class: "flex flex-col gap-3 p-5 bg-white rounded-xl shadow py-16 dark:bg-neutral-800/90" }) do |f| %>

    <div class="field">
      <%= f.label :email, class: "uppercase text-sm" %><br />
      <%= f.email_field :email, 
        autofocus: true, 
        autocomplete: "email", 
        class: "border py-1 px-5 rounded-full text-sm w-full dark:bg-neutral-800/90" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "uppercase text-sm" %><br />
      <%= f.password_field :password, 
        autocomplete: "current-password", 
        class: "border py-1 px-5 rounded-full text-sm w-full dark:bg-neutral-800/90" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field flex items-center gap-2">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "text-sm" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", 
        class: "cursor-pointer border border-raspberry-500 dark:border-raspberry-500/90 hover:bg-raspberry-500 dark:hover:bg-raspberry-500/90 hover:text-white uppercase py-1 px-5 rounded-full text-sm w-full" %>
    </div>
  <% end %>

  <div class="flex flex-col gap-3 w-[200px] self-center">
    <h3 class="uppercase self-center">
      Demo Accounts
    </h3>
    <%= button_to "Sign in as Alice", 
      demo_sessions_path, 
      params: { email: "alice@fake.com" }, 
      method: :post, 
      class: "cursor-pointer border border-neutral-800 hover:bg-neutral-800 hover:text-white dark:border-neutral-50 dark:hover:bg-neutral-50 dark:hover:text-neutral-800 uppercase py-1 px-5 rounded-full text-sm w-full" %>
    <%= button_to "Sign in as Bob", 
      demo_sessions_path, params: { email: "bob@fake.com" }, 
      method: :post, 
      class: "cursor-pointer border border-neutral-800 hover:bg-neutral-800 hover:text-white dark:border-neutral-50 dark:hover:bg-neutral-50 dark:hover:text-neutral-800 uppercase py-1 px-5 rounded-full text-sm w-full" %>
  </div>

  <div class="self-end text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>