<!DOCTYPE html>
<html>
  <head>
    <title>Mercury Messaging</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body 
    class="max-w-[1400px] 
      min-w-[320px] 
      mx-auto py-5 px-2 xs:px-5 
      min-h-screen
      grid grid-rows-[auto,_1fr]
      bg-neutral-50" 
  >
    <header class="flex items-center justify-between w-full mb-2">
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <% if user_signed_in? %>
        <%= button_to "Logout", 
          destroy_user_session_path, 
          method: :delete, 
          class: "uppercase cursor-pointer" 
        %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
